* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  background: linear-gradient(135deg, #9932CC, #1E90FF);
}


.forms {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}