* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  background: linear-gradient(135deg, #87CEFA, #1E90FF);
}

h2 {
  margin-top: 10vh;
  font-size: 40px;
  color: #FFF8DC;
  text-shadow: 2px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-decoration: underline;
}

.box {
  color: white;
  display: flex;
  height: auto;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-top: 30px; 
  width: 280px; 
}

ul {
  list-style: none;
  color: white;
  font-size: 25px;
  border-inline-end-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul li {
  margin-bottom: 10px;
}

.tarefas input[type="checkbox"]:checked+label {
  text-decoration: line-through;
  color: #333;
}

button {
  color: white;
  background: #333;
  padding: 10px 15px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
  transition: 0.3s ease-in-out;

}

button:hover {
  background: #A9A9A9;
  color: black;
}